# pip install -r requirements.txt

# Develop and Deploy

asgiref>=3.6.0
backports.zoneinfo>=0.2.1
Django>=4.1.5
pip>=23.0.1
setuptools>=66.1.1
sqlparse>=0.4.3
typing_extensions>=4.4.0
uWSGI>=2.0.20
wheel>=0.38.4
whitenoise>=6.3.0



