[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/jihwan/anaconda3/django_env/bin/uwsgi -i /home/jihwan/minjeong/mysite/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
